.card {
    background-color: #FFF3E0;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 100px;
    margin-right: 100px;
}

.card h2 {
    margin-bottom: 20px;
    text-align: center;
}

.card .form-group {
    margin-bottom: 20px;
}

.card .btn {
    margin-right: 10px;
}