main{
    width: 90%;
    margin: auto;
}
h1{
    margin-top: 4vh;
}
.table-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto 10vh;
    background-color: rgba(163, 132, 225, 0.58);
    border-radius: 20px;
}
table{
    width: 90%;
    flex-direction: column;
    justify-content: space-evenly;
    table-layout: fixed;
}
.ver-turnos-disponibles{
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-around;
    margin-bottom: 3vh;
    align-items: end;
    padding: 3vh;
    background-color: #4f3c6e;
    border-radius: 10px;
}
.ver-turnos-disponibles select{
    width: 80%;
}
.ver-turnos-disponibles label{
    color: white;
}
.ver-turnos-disponibles .btn{
    height: 80%;
}


.agendarButton{
    margin: 3vh 0 1vh;
    width: 17%;
    display: flex;
    justify-content: center;
    background-color: #ff7300;
    transition: all .2s
}

.agendarButton:hover{
    background-color: rgb(255, 115, 0);
    scale: 1.1;
}

.editarButton{
    text-decoration: none;
    color: #0034fc;
    transition: all .2s;
    border: none;
}

.elimiinarButton{
    text-decoration: none;
    color: #ee3646;
    transition: all .2s;
}

.editarButton:hover, .elimiinarButton:hover{
    text-decoration: none;
    color: black;
}

.contenedor-mensaje-vacio{
    width: 30%;
    margin:3vh auto 10vh;
    border-radius: 10px
}
.contenedor-mensaje-vacio h3{
    text-align: center;
    color:darkslateblue;
}

.btn-agendar-container{
    display: flex;
    width: 40%;
    margin: auto auto 3vh;
    justify-content: center;
}
.btn-agendar{
    width: 100%;
}
.error{
    display: flex;
    margin: auto;
    justify-content: center;
}
.error p{
    text-align: center;
}