body {
    background-color: #dacdea;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.navbar {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar-brand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar-brand img {
    margin-top: 10px;
    max-height: 200px;
    width: auto;
}

.navbar-nav.ml-auto {
    margin-left: auto !important; /* Alinear elementos a la derecha */
}
.navbar-nav.ml-auto .nav-link {
    margin-left: 10px; /* Espacio entre botones */
}

.custom-color-navbar {
    background-color: rgba(43, 34, 77, 0.87);
}

.search-container {
    display: flex;
    align-items: center;
}
.search-container input {
    margin-right: 10px;
}
.search-container button {
    margin-left: 10px;
}



.containerProyecto h1 {
font-family: Schoolbell, cursive;
    margin-bottom: 25px;
}



.contentImageHome {

    position: relative;
    padding: 120px;
    margin: 20px 0;
    border: 4px solid rgba(54, 48, 79, 0.87);
    border-radius: 10px;
    overflow: hidden;

}

.contentImageHome::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/logo.jpeg');
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    opacity: 0.7;
    z-index: -1;
}

.contentImageHome:hover {

    border-color: rgba(49, 36, 96, 0.87);
}

.ver-mas{
    position: absolute;
    bottom: 20px;
    right: 20px;

}

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
    .navbar {
        height: auto; /* Ajusta automáticamente la altura del navbar */
    }

    .navbar-brand {
        position: relative;
        transform: none;
        top: auto;
        left: auto;
        margin: 10px auto;
    }

    .navbar-brand img {
        max-height: 50px;
        margin-top: 0;
    }

    .navbar-nav {
        position: static;
        display: block;
        text-align: center;
    }

    .navbar-nav .nav-link {
        margin: 10px 0; /* Espacio entre enlaces */
    }

    .navbar-nav.ml-auto {
        margin-left: 0; /* Reinicia el margen izquierdo de los enlaces */
        text-align: center; /* Centra los enlaces horizontalemente en dispositivos móviles */
    }

    .search-container {
        flex-direction: column; /* Cambia la dirección del contenedor a columna */
        align-items: center; /* Centra los elementos verticalmente */
    }

    .search-container input,
    .search-container button {
        margin: 10px 0;
    }
}

.carousel-control-prev, .carousel-control-next {
    background-color: rgba(43, 34, 77, 0.87);
    width: 5%;
}

#carouselExampleSlidesOnly {
    width: auto; /* Ancho del slider */
    margin: 0 auto; /* Centrar el slider */

}
/* Estilo personalizado para las imágenes del slider */
.carousel-item img {
    max-height: 500px; /* Altura máxima de las imágenes */
    width: auto; /* Ancho automático para mantener la proporción */
    margin: 0 auto; /* Centrar las imágenes */

    opacity: 0.7;
}

.carousel-inner {
    overflow: hidden;
}
.carousel-item {
    width: 100%; /* Establece el ancho del contenedor del carrusel */
    transition: transform 0.5s ease; /* Agrega una transición suave al deslizar */
}

.carousel-item.active {
    transform: translateX(0); /* Muestra la imagen activa */
}

.carousel-item-next, .carousel-item-prev {
    transform: translateX(100%); /* Esconde las imágenes previas y siguientes */
}

.carousel-caption {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.55);
}

.carousel-caption h3 {
    margin-top: 0;
    color: rgba(43, 34, 77, 0.94);
    font-family: 'Schoolbell', cursive;
    font-weight: bold;
}

.carousel-caption p {
    margin-top: 10px;
    text-align: center;
    color: rgba(43, 34, 77, 0.89);
    font-family: 'SansSerif', cursive;
    margin-left: 50px;
    margin-right: 50px;
}

.carousel-caption .btn-suscribirme {

    position: absolute;
    bottom: 250px;
    right: 20%;
    transform: translateX(50%);
    width: auto;
    max-width: 200px;

    font-family: 'Schoolbell', cursive;
    background-color: rgb(234, 134, 32);
    border-color: rgba(208, 80, 3, 0.75);
    color: rgba(255, 255, 255, 0.87);
}


h1{
    text-align: center;
    margin-top: 50px;
}

.footer {

    .info-col {
        margin-right: 15px;
        margin-left: 15px;
    }

    & a {
        color: rgba(99, 255, 220, 0.5);
    }

    & a:hover {
        color: #58e3ca;
    }
}
