main {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

h2{
    font-family: Schoolbell, cursive;
}

.divSuscripcionGif {
    text-align: center;
}
.gifSuscripcion {
    max-width: 300px;
    max-height: 300px;
    margin-top: -25px;
    padding-top: 0;
}

.containerSuscripcion {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}

.membership {
    flex: 0 1 calc(50% - 15px); /* 50% del ancho del contenedor con un espacio de 20px de separación */
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    margin-bottom: 35px;
    transition: background-color 0.3s ease;
}


.joinButton {
    display: block;
    width: 50%;
    padding: 10px;
    margin: 10px auto 0;
    background-color: #ef7b28;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.joinButton:hover {
    background-color: #ef4102;
}

.membership.paid:hover {
    background-color: #6fb2f5; /* Color de fondo al pasar el mouse */
}

.membership.free:hover {
    background-color: #94e891; /* Color de fondo al pasar el mouse */
}

.membership h2 {
    text-align: center;
    color: #333;
}
.membership ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
.membership ul li {
    margin-bottom: 10px;
}
.membership.paid {
    border: 2px solid #007bff; /* Color del borde para la membresía paga */
}
.membership.free {
    border: 2px solid #28a745; /* Color del borde para la membresía gratuita */
}

h1{
    text-align: center;
    margin-top: 50px;
}
