<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Agregar nuevo hijo</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" th:href="@{/css/datos.css}"/>

</head>
<body>
<div th:replace="home :: nav"></div>

<main class="main-datos">
    <a th:href="@{/datos-usuario}" class="btn btn-lg btn-block btn-datos-volver">Volver a ver datos</a>
    <h1 class="form-signin-heading">Agregar nuevo hijo</h1>
    <div class="contenedor-modificar-datos">
        <form action="#" th:action="@{/agregar-hijo}" method="post" th:object="${hijo}" class="form-mostrar-datos">

            <!-- Campo para el nombre del bebé -->
            <label for="nombre">Nombre del hijo:</label>
            <input type="text" id="nombre" name="nombre" class="form-control" required />

            <!-- Campo para la fecha de nacimiento del bebé -->
            <label for="fechaNacimiento">Fecha de nacimiento del hijo:</label>
            <input type="date" id="fechaNacimiento" name="fechaNacimiento" class="form-control" required />

            <!-- Menú desplegable para elegir el método de aprendizaje -->
            <label for="metodoAprendizaje">Método de aprendizaje:</label>
            <select id="metodoAprendizaje" name="metodoAprendizaje" class="form-control">
                <option value="montessori">Montessori</option>
                <option value="waldorf">Waldorf</option>
                <option value="doman">Doman</option>
            </select>
            <a th:href="@{/info}">Ver más información sobre los metodos</a>
            <div class="container">
                <button id="btn-agregar-hijo" class="btn btn-lg btn-primary btn-block" Type="Submit">Guardar cambios</button>
            </div>
            <p th:if="${error != null}" class="alert alert-danger" th:text="'Error ' + ${error}">
            </p>
        </form>
    </div>
</main>
<!-- /.container -->
<div th:replace="home :: footer"></div>

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>