<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Contactos</title>

    <link rel="stylesheet" th:href="@{/css/contacto.css}">
    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/css/bienvenido.css}">
    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" th:href="@{/css/homeBienvenido.css}"/>
    <link rel="stylesheet" th:href="@{/js/main.js}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Schoolbell&display=swap" rel="stylesheet">

</head>
<body>
<div th:replace="home :: nav"></div>

<main>
    <!-- Sección de Datos de Usuario -->
    <section id="datos-usuario">
        <div class="container">
            <!-- Datos del titular -->
            <div class="titular">
                <h1>Información del Titular</h1>
                <h1>Bienvenido</h1>


                <p>Nombre del Usuario: <span th:text="${usuario.nombre}"></span></p>
                <p>Email: <span th:text="${usuario.email}"></span></p>


                <!-- Verificar si la membresía está presente -->
                <div th:if="${membresia != null}">
                    <p>Estado de la Membresía: <span th:text="${membresia.estado}"></span></p>

                    <!-- Mostrar el botón si la membresía está inactiva -->
                    <div th:if="${membresia.estado == 'INACTIVA' || membresia.estado == 'Inactiva'}">
                        <a th:href="@{/activar-membresia}" class="boton-desactivada">¡Activa tu membresía!</a>
                    </div>
                    <!-- Mostrar el botón si la membresía está activa -->
                    <div th:if="${membresia.estado == 'ACTIVA' || membresia.estado == 'Activada'}">
                        <a th:href="@{/membresia-detalle}" class="boton-activar">¡Membresía Activada!</a>
                    </div>
                </div>

                <!-- Mostrar mensaje si no hay membresía asociada -->
                <p th:if="${membresia == null}">No hay Membresía Asociada</p>

                <!-- Verificar si el usuario tiene cónyuge -->
                <p th:if="${usuario.conyuge != null}">Nombre del Cónyuge: <span th:text="${usuario.conyuge.nombre}"></span></p>
                <p th:if="${usuario.conyuge != null}">Email del Cónyuge: <span th:text="${usuario.conyuge.email}"></span></p>
                <p th:if="${usuario.conyuge != null}">Estado del Cónyuge: <span th:text="${usuario.conyuge.estado}"></span></p>
                <p th:if="${usuario.conyuge == null}">No hay Cónyuge Asociado</p>

                <h2>Hijos</h2>
                <div th:if="${#lists.size(hijos) > 0}">
                    <ul>
                        <li th:each="hijo : ${hijos}">
                            <p>Nombre del Hijo: <span th:text="${hijo.nombre}"></span></p>
                            <p>Edad del Hijo: <span th:text="${hijo.edad}"></span></p>
                            <p>DNI del Hijo: <span th:text="${hijo.dni}"></span></p>
                            <p>ETAPA de SU Hijo:
                                <span th:if="${hijo.etapa != null}" th:text="${hijo.etapa.nombre}">Nombre de la Etapa</span>
                                <span th:if="${hijo.etapa == null}">No asignada, Contrate nuestra membresía para disfrutar de los Juegos Caseros por Etapa</span>
                            </p>
                            <!-- Verificar si hijo.etapa.id no es nulo -->
                            <div th:if="${hijo.etapa != null}">
                                <form th:action="@{/ver-juego-etapa/{etapaId}(etapaId=${hijo.etapa.id})}" method="post">
                                    <button type="submit" class="btn btn-primary">Ver Juegos Caseros en la Etapa de su hijo</button>
                                </form>
                                <form th:action="@{/eliminar-hijo/{hijoId}(hijoId=${hijo.id})}" method="post">
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                </form>
                                <form th:action="@{/ver-profesional-hijo/{hijoId}(hijoId=${hijo.id})}" method="post">
                                    <button type="submit" class="btn btn-danger">Ver Profesional</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>

                <div th:if="${#lists.size(hijos) == 0}">
                    <p>No hay hijos agregados</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Sección de botones circulares -->
    <div class="button-container">


        <div class="circle-button"><a th:href="@{/membresiaPaga}">ACTIVAR MEMBRESIA</a></div>


        <div class="circle-button"><a th:href="@{/seleccionTests}">TEST</a></div>
    </div>
</main>
<div th:replace="home :: footer"></div>
</body>
</html>