<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <!-- Bootstrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" th:href="@{/css/confirmacionMembresia.css}"/>

        <title>Confirmación de Membresía</title>

</head>

<body>

<div th:replace="home :: nav"></div>

<div class="container">
    <h2 class="titulo-confirmacion">Confirmación de Membresía</h2>
    <p class="agradecimiento">Gracias por suscribirte. Aquí están los detalles de tu membresía:</p>

    <div class="informacion-membresia">
        <div>
            <strong>Nombre completo:</strong> <span th:text="${datosMembresia.nombreCompleto}"></span>
        </div>
        <div>
            <strong>Email:</strong> <span th:text="${datosMembresia.email}"></span>
        </div>
        <div>
            <strong>Número telefónico:</strong> <span th:text="${datosMembresia.numeroTelefonico}"></span>
        </div>
        <div>
            <strong>Número de tarjeta:</strong> <span th:text="${datosMembresia.tarjeta.numeroDeTarjeta}"></span>
        </div>
        <div>
            <strong>Fecha de Vencimiento:</strong> <span th:text="${datosMembresia.tarjeta.fechaDeVencimiento}"></span>
        </div>
        <div>
            <strong>Código de Seguridad:</strong> <span th:text="${datosMembresia.tarjeta.codigoDeSeguridad}"></span>
        </div>
    </div>
    <div>
        <strong>Fecha de Alta Membresia:</strong> <span th:text="${#dates.format(datosMembresia.fechaDeInicio, 'yyyy-MM-dd')}"></span>
    </div>
    <div>
        <strong>Fecha de Baja Membresia :</strong> <span th:text="${#dates.format(datosMembresia.fechaDeBaja, 'yyyy-MM-dd')}"></span>
    </div>
</div>

<div th:replace="home :: footer"></div>

<a th:href="@{/usuarioMembresia}" class="btn btn-primary">Volver a la página de bienvenida</a>
</body>
</html>