<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Confirmación de Membresía</title>

    <!-- Bootstrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" th:href="@{/css/confirmacionMembresia.css}"/>
</head>

<body>

<div th:replace="home :: nav"></div>

<div class="container">
    <h2>Confirmación de Membresía</h2>
    <p>Gracias por suscribirte. Aquí están los detalles de tu membresía:</p>

    <div>
        <strong>Nombre completo:</strong> <span th:text="${membresia.nombreCompleto}"></span>
    </div>
    <div>
        <strong>Email:</strong> <span th:text="${membresia.email}"></span>
    </div>
    <div>
        <strong>Número telefónico:</strong> <span th:text="${membresia.numeroTelefonico}"></span>
    </div>
    <div>
        <strong>Número de tarjeta:</strong> <span th:text="${membresia.tarjeta.numeroDeTarjeta}"></span>
    </div>
    <div>
        <strong>Fecha de Vencimiento:</strong> <span th:text="${membresia.tarjeta.fechaDeVencimiento}"></span>
    </div>
    <div>
        <strong>Código de Seguridad:</strong> <span th:text="${membresia.tarjeta.codigoDeSeguridad}"></span>
    </div>
</div>

<div th:replace="home :: footer"></div>

</body>
</html>