<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Gestionar Consulta Profesional</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" th:href="@{/css/formularios_profesional.css}"/>
    <link rel="stylesheet" th:href="@{/css/consulta_profesionales_admi.css}"/>
    <link rel="stylesheet" th:href="@{/js/main.js}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Schoolbell&display=swap" rel="stylesheet">

</head>
<body>
<div th:replace="home :: nav"></div>
<main>

    <h2>Seleccione profesional a Liquidar </h2>
    <br>
    <div class="table-container">
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Dirección</th>
                <th>Institución</th>
                <th>Tipo</th>
                <th>Método</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="profesional : ${profesionales}">
                <td th:text="${profesional.id}"></td>
                <td th:text="${profesional.nombre}"></td>
                <td th:text="${profesional.telefono}"></td>
                <td th:text="${profesional.email}"></td>
                <td th:text="${profesional.direccion}"></td>
                <td th:text="${profesional.institucion}"></td>
                <td th:text="${profesional.tipo != null ? profesional.tipo.nombre : 'Sin tipo'}"></td>
                <td th:text="${profesional.metodo != null ? profesional.metodo.nombre : 'Sin método'}"></td>
                <td>
                    <a class="btn crearButton" th:href="@{/admin/gestionarProfesionales/liquidar/{id}(id=${profesional.id})}">Liquidar </a>


                </td>
            </tr>
            </tbody>
        </table>
    </div>

</main>
<!-- /.container -->
<div th:replace="home :: footer"></div>

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>