<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Proyecto Taller Web I</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" th:href="@{/css/formularios_admin.css}"/>
    <link rel="stylesheet" th:href="@{/js/main.js}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Schoolbell&display=swap" rel="stylesheet">

</head>

<body>
<div th:replace="home :: nav"></div>

<main class="container">
    <h1>Crear Nuevo Juego</h1>
    <p>El juego es un proceso de autodescubrimiento que ocurre al mismo tiempo que avanza su desarrollo cognitivo y psicomotor. Gracias al juego, los neonatos aprenden a moverse, a comunicarse, a comprender su entorno y a socializar con él.
        Jugar con un bebé recién nacido será divertido para el niño y para los padres siempre y cuando el juego se adapte a su nivel de desarrollo.
        No juega igual un bebé de tres semanas que uno de doce: un recién nacido se enamora de las muecas de su madre, que le parecen divertidas, mientras que el niño de un año se entretendrá con risas, bromas y aventuras que querrá descubrir por su cuenta.
    </p>
    <form action="#" th:action="@{/guardar-juego}" method="POST" th:object="${juego}">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input th:field="*{nombre}" type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <textarea th:field="*{descripcion}" class="form-control" id="descripcion" name="descripcion" rows="4" required></textarea>
        </div>
        <div class="form-group">
            <label for="etapa_id">Etapa:</label>
            <select class="form-control" id="etapa_id" name="etapa_id" required>
                <option value="">Seleccionar Etapa</option>
                <th:block th:each="etapa : ${etapasCreadas}">
                    <option th:value="${etapa.id}" th:text="${etapa.nombre}"></option>
                </th:block>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Crear Juego</button>
    </form>
</main>
<div th:replace="home :: footer"></div>

</body>
</html>