<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Proyecto Taller Web I</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" th:href="@{/css/formularios_admin.css}"/>
    <link rel="stylesheet" th:href="@{/js/main.js}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Schoolbell&display=swap" rel="stylesheet">

</head>

<body>

<div th:replace="home :: nav"></div>
    <main>
        <div class="container">
            <h1>Crear Nueva Etapa</h1>
            <form action="#" th:action="@{/guardar-etapa}" method="POST" th:object="${etapa}">
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input th:field="*{nombre}"type="text" class="form-control" id="nombre" name="nombre" required>
                    <label for="edadDesde">Edad Desde:</label>
                    <input th:field="*{hasta}"type="number" class="form-control" id="edadDesde" name="edadDesde" required>
                    <label for="edadHasta">Edad Hasta:</label>
                    <input th:field="*{desde}"type="number" class="form-control" id="edadHasta" name="edadHasta" required>
                </div>
                <button type="submit" class="btn btn-primary">Crear Etapa</button>
            </form>
        </div>
    </main>
<div th:replace="home :: footer"></div>

</body>
</html>