<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Datos del hijo</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" th:href="@{/css/datos.css}"/>

</head>
<body>
<div th:replace="home :: nav"></div>

<main class="main-datos">
    <a th:href="@{/datos-usuario}" class="btn btn-lg btn-block btn-datos-volver">Volver a ver datos</a>
    <h1 class="form-signin-heading">Datos del hijo</h1>
    <div class="contenedor-datos">
        <div class="contenedor-datos-texto">
            <p>Nombre: Ramiro Salazar</p>
            <p>Edad: 3</p>
            <p>Metodo: doman</p>
        </div>
    </div>
    <div class="contenedor-botones-datos">
        <a th:href="@{/datos-usuario/datos-hijo/modificar-datos-hijo}" class="btn btn-lg btn-block btn-datos-modificar">Modificar datos del hijo</a>
        <!-- Eliminar hijo -->
        <form th:action="@{/eliminar-hijo}" method="post" >
            <input type="hidden" th:name="id"  />
            <button type="submit"  onclick="return confirm('¿Estás seguro de que deseas eliminar este hijo?')" class="btn-datos-eliminar">
                Eliminar Hijo
            </button>
        </form>
    </div>
    <!-- en el controlador:
            @PostMapping("/eliminar-hijo")
        public String eliminarHijo(@RequestParam("id") Long id) {
            // Lógica para eliminar el hijo con el ID proporcionado

            // Redirigir al usuario de vuelta a la vista de datos del usuario
            return "redirect:/datos-usuario";
        }
        -->
</main>
<!-- /.container -->
<div th:replace="home :: footer"></div>

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>