<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agrego un cónyuge</title>
</head>
<body>

<h1>Detalles del Usuario</h1>
<p>Nombre del Usuario: <span th:text="${usuario.nombre}"></span></p>
<p>Email del Usuario: <span th:text="${usuario.email}"></span></p>

<h1>Detalles del Cónyuge Asociado</h1>
<p>Nombre del Cónyuge: <span th:text="${conyuge.nombre}"></span></p>
<p>Email del Cónyuge: <span th:text="${conyuge.email}"></span></p>

</body>
<a th:href="@{/bienvenido}" class="btn btn-primary">Volver a la página de bienvenida</a>
</html>