<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <title>Crear producto</title>
</head>
<body>

<div th:replace="home :: nav"></div>

<div class="container">
    <div class="form-container">
        <h2 class="my-4">Crear Nuevo Producto</h2>

        <div th:if="${mensaje != null}" class="w3-panel w3-pale-green w3-border" >
            <p th:text="${mensaje}"></p>
        </div>

        <div th:if="${error != null}" class="w3-panel w3-red" >
            <p th:text="${error}"></p>
        </div>

        <form th:action="@{/admin/guardarProducto}"  method="POST" enctype="multipart/form-data" th:object="${producto}">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" th:field="*{nombre}" required>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción:</label>
                <input type="text" class="form-control" id="descripcion" name="descripcion" th:field="*{descripcion}">
            </div>
            <div class="form-group">
                <label for="precio">Precio:</label>
                <input type="number" class="form-control" id="precio" name="precio" th:field="*{precio}">
            </div>
            <div class="form-group">
                <label for="stock">Stock:</label>
                <input type="number" class="form-control" id="stock" name="stock" th:field="*{stock}">
            </div>
            <div class="form-group">
                <label for="tienda">Tienda:</label>
               <select id="tienda" class="form-control" name="tienda" required>
                   <th:block th:each="tienda : ${tiendas}">
                       <option th:value="${tienda.id}" th:text="${tienda.nombre}"></option>
                   </th:block>
               </select> <br>
            </div>
            <div class="form-group">
                <label for="etapa">Etapa:</label>
                <select id="etapa" class="form-control" name="etapa" required>
                    <th:block th:each="etapa : ${etapas}">
                        <option th:value="${etapa.id}" th:text="${etapa.nombre}"></option>
                    </th:block>
                </select> <br>
            </div>
            <div class="form-group">
                <label for="imagenUrl"> Imágen </label>
                <input type="file" id="imagenUrl" name="imagenUrl" accept="image/png, image/jpeg" required>
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<div th:replace="home :: footer"></div>

</body>
</html>