<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Proyecto Taller Web I</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" th:href="@{/js/main.js}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Schoolbell&display=swap" rel="stylesheet">

</head>

<body>



<nav class="navbar navbar-expand-md navbar-dark custom-color-navbar">
    <div class="navbar-nav">
        <a class="nav-link" th:href="@{/contacto}">Contactos</a>
        <a class="nav-link" href="#">Eventos/Cursos</a>
        <a class="nav-link" href="#">Tests</a>
        <a class="nav-link" href="#">Foro Comunidad</a>
    </div>


    <a class="navbar-brand" th:href="@{/home}">
        <img th:src="@{/img/educareLogo.png}" alt="Logo">
    </a>


    <div class="navbar-nav ml-auto">
        <a class="nav-link" th:href="@{/nuevo-usuario}">Registrarse</a>
        <a class="nav-link" th:href="@{/login}">Iniciar Sesión</a>
        <div class="search-container">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Buscar</button>
        </div>
    </div>
</nav>
<h2>Felicidades! Su hijo se guardo con Exito! </h2>
<p>Nombre del Hijo: <span th:text="${hijo.nombre}"></span></p>
<p>Edad del Hijo: <span th:text="${hijo.edad}"></span></p>
<p>DNI del Hijo: <span th:text="${hijo.dni}"></span></p>

<h2>Detalles del Usuario</h2>
<p>Nombre de Usuario: <span th:text="${usuario.nombre}"></span></p>

<a th:href="@{/bienvenido}" class="btn btn-primary">Volver a la página de bienvenida</a>
<!-- Agrega más detalles del usuario si es necesario -->

<!-- Otros detalles del hijo y del usuario -->

<!-- Puedes agregar enlaces o botones aquí para volver a otras páginas si lo deseas -->
</body>
</html>