<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Usuario</title>
</head>
<body>
<h1>Editar Usuario</h1>
<form th:action="@{/guardar-usuario}" method="post" th:object="${usuario}">
    <!-- Campo para el correo electrónico -->
    <label>Correo electrónico:</label>
    <input type="text" th:field="*{email}" />

    <!-- Campo para la nueva contraseña -->
    <label>Nueva contraseña:</label>
    <input type="password" th:field="*{password}" />

    <!-- Campo para confirmar la nueva contraseña -->
    <label>Confirmar nueva contraseña:</label>
    <input type="password" th:field="*{password}" />

    <!-- Agregar más campos del usuario según sea necesario -->

    <button type="submit">Guardar Cambios Titular </button>
</form>
</body>
</html>