<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Modificar Juego</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" th:href="@{/css/formularios_admin.css}"/>
    <link rel="stylesheet" th:href="@{/js/main.js}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Schoolbell&display=swap" rel="stylesheet">

</head>
<div th:replace="home :: nav"></div>

<body>
<main>
<h1>Modificar Juego</h1>
<!-- Formulario para modificar etapa -->
    <form class="formulario" th:action="@{/actualizar-juego}" method="post" th:object="${juego}">
        <!-- Campo oculto para el ID de la etapa -->
        <input type="hidden" class="form-control" th:field="*{id}">

        <!-- Mostrar datos actuales de la etapa -->
        <label for="nombre"><i class="fas fa-file-signature"></i> Nombre:</label><br>
        <input type="text" class="form-control" id="nombre" th:value="${juego.nombre}" readonly><br>

        <label for="descripcion"><i class="fas fa-calendar-alt"></i> Descripcion :</label><br>
        <input type="text" class="form-control" id="descripcion" th:value="${juego.descripcion}" readonly><br>



        <!-- Campos de entrada para la modificación -->
        <label for="nuevoNombre"><i class="fas fa-edit"></i> Nuevo Nombre:</label><br>
        <input type="text" class="form-control" id="nuevoNombre" th:field="*{nombre}"><br>

        <label for="Nuevadescripcion"><i class="fas fa-edit"></i>Nueva Descripcion:</label><br>
        <input type="text" class="form-control" id="Nuevadescripcion" th:field="*{descripcion}"><br>



        <!-- Botón para enviar el formulario -->
        <button type="submit"><i class="fas fa-save"></i> Modificar Juego</button>
    </form>
</main>
<div th:replace="home :: footer"></div>

</body>
</html>