<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Proyecto Taller Web I</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" th:href="@{/js/main.js}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Schoolbell&display=swap" rel="stylesheet">

</head>

<body>



<nav class="navbar navbar-expand-md navbar-dark custom-color-navbar">
    <div class="navbar-nav">
        <a class="nav-link" th:href="@{/contacto}">Contactos</a>
        <a class="nav-link" href="#">Eventos/Cursos</a>
        <a class="nav-link" href="#">Tests</a>
        <a class="nav-link" href="#">Foro Comunidad</a>
    </div>


    <a class="navbar-brand" th:href="@{/home}">
        <img th:src="@{/img/educareLogo.png}" alt="Logo">
    </a>


    <div class="navbar-nav ml-auto">
        <a class="nav-link" th:href="@{/nuevo-usuario}">Registrarse</a>
        <a class="nav-link" th:href="@{/login}">Iniciar Sesión</a>
        <div class="search-container">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Buscar</button>
        </div>
    </div>
</nav>
<h1>Agregar Nuevo Hijo</h1>
<form class="hijos" action="#" th:action="@{/guardar-hijo}" method="POST" th:object="${hijo}">
    <label for="nombre">Nombre del Hijo:</label><br>
    <input th:field="*{nombre}" type="text" id="nombre" name="nombre" required><br><br>
    <label for="edad">Edad del Hijo:</label><br>
    <input  th:field="*{edad}" type="number" id="edad" name="edad" required><br><br>
    <label for="dni">Dni:</label><br>
    <input  th:field="*{dni}"type="number" id="dni" name="dni" required><br><br>




    <button type="submit">Agregar Hijo</button>
</form>
</body>
</html>