<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Proyecto Taller Web I</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" th:href="@{/js/main.js}"/>
    <link rel="stylesheet" th:href="@{/css/formularios_profesional.css}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Schoolbell&display=swap" rel="stylesheet">

</head>


<body>
<div th:replace="home :: nav"></div>

<main>

    <h1>Agregar Nuevo Hijo</h1>
    <form class="hijos" action="#" th:action="@{/guardar-hijo}" method="POST" th:object="${hijo}" th:class="form">
        <label for="nombre">Nombre del Hijo:</label><br>
        <input th:field="*{nombre}" class="form-control" type="text" id="nombre" name="nombre" required><br><br>
        <label for="dni">Dni:</label><br>
        <input  th:field="*{dni}"  class="form-control" type="number" id="dni" name="dni" required><br><br>
        <label for="fecha_nacimiento">Fecha de Nacimiento:</label><br>
        <input th:field="*{fecha_nacimiento}" class="form-control" type="date" id="fecha_nacimiento" name="fecha_nacimiento" required><br><br>

        <button type="submit" class="btn btn-primary">Agregar Hijo</button>



        <!--
        <a href="@{/bienvenido}" class="btn btn-secondary">Volver a Bienvenido</a>
        -->
    </form>

</main>
<div th:replace="home :: footer"></div>

</body>
</html>