<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Contactos</title>
    <!-- Boostrap core css -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" th:href="@{/js/main.js}"/>
    <link rel="stylesheet" th:href="@{/css/contacto.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Schoolbell&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

<div th:replace="home :: nav"></div>


    <main class="main-contacto">
        <h1 class="titulo-contactos">Nuestros contactos de confianza</h1>
        <p class="texto-bienvenida">Bienvenido a nuestra sección de contactos. Aquí encontrarás una lista de profesionales activos y tiendas para niños, cuidadosamente seleccionados para ofrecerte los mejores servicios y productos relacionados con la crianza y el cuidado infantil.  Explora nuestra lista de contactos a continuación y no dudes en ponerte en contacto con ellos para obtener más información o asistencia.</p>
        <section id="contenedor-contactos">

            <form th:action="@{/profesional}" method="get" class="filtrar-contactos">
                <label for="metodo">Método: </label>
                <select name="metodo" id="metodo">
                    <option value="">Selecciona un método</option>
                    <th:block th:each="metodo : ${metodos}" >
                        <option th:value="${metodo.nombre}" th:text="${metodo.nombre}"></option>
                    </th:block>
                </select>
                <br>
                <label for="tipo">Tipo:</label>
                <select name="tipo" id="tipo">
                    <option value="">Selecciona un tipo</option>
                    <th:block th:each="tipo : ${tipos}">
                        <option th:value="${tipo.nombre}" th:text="${tipo.nombre}"></option>
                    </th:block>
                </select>
                <br>
                <button type="submit">Filtrar</button>
            </form>

            <div id="mostrar-contactos">
                <div class="contactos">
                    <th:block th:each="profesional : ${profesionales}">
                        <ul>
                            <li><strong>Nombre:</strong> <span th:text="${profesional.nombre}"></span></li>
                            <li><strong>Teléfono:</strong> <span th:text="${profesional.telefono}"></span></li>
                            <li><strong>Correo:</strong> <span th:text="${profesional.email}"></span></li>
                            <li><strong>Dirección:</strong> <span th:text="${profesional.direccion}"></span></li>
                            <li><strong>Institución:</strong> <span th:text="${profesional.institucion}"></span></li>
                            <li><strong>Método:</strong> <span th:text="${profesional.metodo != null ? profesional.metodo.nombre : 'Sin método'}"></span></li>
                            <li><strong>Tipo:</strong> <span th:text="${profesional.tipo != null ? profesional.tipo.nombre : 'Sin tipo'}"></span></li>
                        </ul>
                    </th:block>
                </div>
            </div>

        </section>

        <div th:if="${error}" class="alert alert-danger">
            <p th:text="${error}"></p>
        </div>
    </main>
    <!-- /.container -->
    <div th:replace="home :: footer"></div>

    <!-- Boostrap core js -->
    <script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>