<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendario Vacunacion inteligente</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" th:href="@{/css/vacunas.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Schoolbell&display=swap" rel="stylesheet">

</head>
<body>
<div th:replace="home :: nav"></div>
<h1 class=" tituloVacunas">Calendario de vacunación inteligente</h1>
<div class="containerVacunas">
    <div class="card">
        <div class="card-header">
            <h2>Seleccionar Hijo</h2>
        </div>
        <div class="card-body">
            <form action="#" th:action="@{/cargarVacunas}" method="post">
                <div class="form-group">
                    <label for="hijoId">Selecciona un hijo:</label>
                    <select id="hijoId" name="hijoId" class="form-control">
                        <option th:each="hijo : ${hijos}" th:value="${hijo.id}" th:text="${hijo.nombre}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Cargar Vacunas</button>
            </form>
        </div>
    </div>
</div>
<div th:replace="home :: footer"></div>

<!-- Boostrap core js -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>