<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Juegos  Por Etapa</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" th:href="@{/css/verJuego.css}"/>
    <link rel="stylesheet" th:href="@{/js/main.js}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Schoolbell&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>

<body>
<div th:replace="home :: nav"></div>
    <main>
        <h1>Juegos  Por Etapa </h1>

        <!-- Formulario para modificar etapa -->
        <form th:action="@{/actualizar-etapa}" method="post" th:object="${etapa}">
            <!-- Campo oculto para el ID de la etapa -->
            <input type="hidden" th:field="*{id}">

            <!-- Mostrar datos actuales de la etapa -->
            <label for="nombre"><i class="fas fa-file-signature"></i> Nombre:</label><br>
            <input type="text" id="nombre" th:value="${etapa.nombre}" readonly><br>

            <label for="desde"><i class="fas fa-calendar-alt"></i> Desde:</label><br>
            <input type="number" id="desde" th:value="${etapa.desde}" readonly><br>

            <label for="hasta"><i class="fas fa-calendar-alt"></i> Hasta:</label><br>
            <input type="number" id="hasta" th:value="${etapa.hasta}" readonly><br><br>

            <h2>Listado de Juegos Por Etapa</h2>
            <input type="text" id="nombreEtapa" th:value="${etapa.nombre}" readonly><br>



            <!-- Tabla para mostrar los juegos -->
            <table>
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="juego : ${juegos}">
                    <td><a th:href="@{/juego/{id}(id=${juego.id})}" th:text="${juego.nombre}">Nombre del Juego</a></td>
                    <td th:text="${juego.descripcion}">Descripción del Juego</td>

                </tr>

                </tbody>
            </table>
        </form>
    </main>
    <div th:replace="home :: footer"></div>
</body>
</html>